{%load static%}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'gamenews:home' %}">GameNews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gamenews:teams_list' %}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gamenews:players_list' %}">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gamenews:home' %}">Post and Cosplay</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cyber Sport Game</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {%for item in game_menu%}
                        <a class="dropdown-item" href="{% url 'gamenews:game' item|slugify %}">{{item.name}}</a>
                        {%endfor%}
                        
                    </div>
                </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'gamenews:search_post'%}">
                {%csrf_token%}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            {% if request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'users:user_profile' user.profile.id %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'gamenews:add_post' %}">Add New Post</a>
                    <a class="dropdown-item" href="{% url 'users:change_password' %}">Change password</a>
                    <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                    
                </div>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LogIn or Regsiter</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'users:login' %}">LogIn</a>
                    <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                </div>
            </ul>
            {% endif %}
            
        </div>
    </nav>
