{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <center>
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
        <p class="block-text">
            <input type="text" name="username" placeholder="Username">
            <i></i>
        </p>
            <p class="block-text">
            <input type="password" name="password" placeholder="Password">
            <i></i>
        </p>      
        <p class="submit">
            <button type="submit" name="submit" class="btn btn-outline-success">Sing In</button>
        </p>
    </form>
    No register? Sing up here:<a class="btn btn-light" href="{% url 'users:register' %}">Register</a></a>
</center>
</body>
{% endblock %}
</html>