{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
                
                <img src="{{ user.profile.profile_image.url}}" class="round"  alt='Profile image'>
        
                <div>
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
        

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h5 class="card-header">My Profile</h5>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Reset</button>
            </div>
        </form>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header">My Post</h5>
                <div class="card-body">
                    
                    <a   href="{% url 'gamenews:add_post' %}" style="color:#000000; text-decoration:none">
                        <p>New post</p>
                    </a>
                    {% for post in posts %}
                    <a class="article-title" href="{% url 'gamenews:post_detail' user.post.id %}">{{ post.title }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}