{% extends 'base.html' %}
{% load static %}

{% block title%}Home Page{% endblock %}

{% block content %}

<main role="main" class="container">

    <div class="starter-template">
        <center>
        <h1>Cyber News</h1>
        <p class="lead">All the games currently available for purchase.</p>
        </center>
    </div>
    
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}" width="90" height="110">
            <div class="media-body">
            <div class="article-metadata">
                <a class="card-text" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.pub_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="lead" href="{% url 'gamenews:post_detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
            </div>
        </article>
    {% endfor %}

    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'gamenews:post_detail' post.id %}">
                        {%if post.post_pic%}
                        <img  class="card-img-top" src="{{ post.post_pic.url }}" >
                        {% else %}
                        <img class="card-img-top" src="{{ post.author.profile.profile_image.url }}" alt="Card image cap">
                        {%endif%}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <small class="text-muted">{{ post.pub_date|date:"F d, Y" }}</small>
                        <a  href="{% url 'users:user_profile'  %}" style="color:#000000; text-decoration:none">{{ post.author }}</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ post.content|slice:":120"|safe }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main><!-- /.container -->

{% endblock %}