{% extends 'base.html' %}
{% load static %}

{% block title%}Home Page{% endblock %}

{% block content %}

<main role="main" class="container">

    <div class="starter-template">
        <center>
        <h1>Cyber News</h1>
        <p class="lead">All the games currently available for purchase.</p>
        </center>
    </div>

    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'gamenews:post_detail' post.id %}">
                        {%if post.post_pic%}
                        <img  class="card-img-top" src="{{ post.post_pic.url }}" width="250" height="280" >
                        {% else %}
                        <img class="card-img-top" src="{{ post.author.profile.profile_image.url }}" alt="Card image cap" >
                        {%endif%}
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title|slice:":60"|safe }}</h4>
                        <small class="text-muted">{{ post.pub_date|date:"F d, Y" }}</small>
                        <p>{{ post.author }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ post.content|slice:":120"|safe }} 
                        </br>
                            <small class="text-muted">{{post.count_of_like}} <img src="{% static 'images/Like.png' %}" height="15"></small>
                            {% if request.user.is_authenticated %}
                            
                            {%if user in post.likes.all%}
                            <a class="btn btn-warning" href="{% url 'gamenews:likes' post.id%}">Dislike</a>
                            {%else%}
                            <a class="btn btn-success" href="{% url 'gamenews:likes' post.id%}">Like</a>
                            {% endif %}
                            <a href="{% url 'gamenews:favourite' post.id %}"><img src="{% static 'images/favourite.png' %}" height="15"></a>
                            {% endif %}
                        </li>
                        
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main>


{% endblock %}