{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit post</legend>
            {{ form.media }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update edit post</button>
        </div>
    </form>
</div>
{% endblock content %}